[Unit]
Description=ClimbLive 2.0
After=syslog.target docker.service
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
ExecStartPre=-/usr/bin/docker stop climblive-api
ExecStartPre=-/usr/bin/docker rm climblive-api
ExecStart=/usr/bin/docker run --name climblive-api --rm --network host \
  -v /etc/climblive/secrets:/secrets:ro \
  --env DB_USERNAME=${DB_USERNAME} \
  --env DB_HOST=${DB_HOST} \
  --env DB_PORT=${DB_PORT} \
  --env DB_DATABASE=${DB_DATABASE} \
  climblive-api:latest
ExecStop=/usr/bin/docker stop climblive-api
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target