@import url("normalize.css/normalize.css");
@import url("@awesome.me/webawesome/dist/styles/themes/default.css");
@import url("@climblive/lib/theme.css");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  overflow: scroll;
  overscroll-behavior-y: none;
  margin: 0 auto;
  max-width: 640px;
}

.sl-toast-stack {
  left: auto;
  right: auto;
  bottom: 0;
  top: auto;
  width: 640px;
}